/*шрифты*/

h1,h2,h3,h4{
	color: #343F64;
  font-size: 26px;
}

h5{
	font-family: "Times New Roman";
	font-size: 20px;
	color: #383632;
}

p{
  font-size: 16px;
  color: #343F64;
}

/*style*/

.header-image {
	height: 55vh;
	background: url(../img/baim-hanif-pYWuOMhtc6k-unsplash.jpg) no-repeat center top / cover;
}

.header-image img {
  width: 100%;
  object-fit: cover;
}

.content-section .container {
	width: 1200px;
  margin: auto;
  background: #fff;
}


@media(max-width: 720px){
	.container{
		width: 40vw;
    margin: auto;
	}
}

section.director {
  padding-top: 90px;
}


/*room*/

.rooms{
	margin-top: 120px;
	width: 100%;
	background: #fff;
}

.rooms_poragraph {
  display: block;
  margin: 30px auto 20px;
  text-align: center;
  width: 80%;
}

.rooms_content{
	margin: auto;
}

.room-box {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 120px 0;
}

.room-box:nth-child(2n) img {
  margin-left: 5%;
}

.room-box:nth-child(2n+1) img {
  margin-right: 5%;
}

.room-box > * {
  flex: 1 1 100%;
}

@media (max-width: 720px){
	.rooms_container img{
		width: 50vh;
	}

    .rooms_content{
    	display: block;
    	justify-content: center;
    }

    .rooms_content img{
	margin-left: -50px;
	margin-top: 50px;
    }

    .rooms_content p{
    	width: 50vw;
    }

    .room_botom{
	justify-content: center;
	display: block;
	text-align: center;
    }

    .room_botom img{
	margin-left: -50px;
	margin-top: 50px;
   }

   .room_botom p{
     width: 50vw;
   }

}

/*director*/

.box_tit{
	justify-content: center;
	display: flex;
	text-align: center;
	margin: auto;
	width: 400px;
}

.director {
  max-width: 870px;
  margin: auto;
}

.director_content_box{
	margin-top: 10vh;
}

.director_img{
	float: left;
	margin-right: 20px;
}

.director_poragraph{
  line-height: 2em;
  font-family:
    helvetica-w01-light,
    helvetica-w02-light,
    sans-serif;
}

.director-signature {
  color: #343F64;
  font-size: 16px;
  font-family: helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;
}

@media(max-width: 720px;){
	.director_poragraph{
		margin: auto;
		justify-content: center;
		text-align: center;
		display: flex;
	}
}

.history{
	margin-top: 100px;
}

.history h5{
	margin-top: -10px;
}

.block{
	float: left;
	width: 40vw;
	padding-left: 10px;
	border-left: 5px solid lightblue;
	/*background: lightblue;*/
}

@media(max-width: 720px){
	.block{
		margin: auto;
		width: 60vw;
		justify-content: center;
		text-align: center;
	}

	.history h5{
		width: 60vw;
		justify-content: center;
		text-align: center;
		display: flex;
	}
}

.block h2{
	justify-content: center;
	text-align: center;
	display: flex;
	margin: auto;
}

.block img{
	float: left;
}


/*left menu*/

.left_menu{
	float: left;
	width: 300px;
	height: 600px;
}
.list-inline{
   text-transform: uppercase;
    text-decoration: none;
    color: #5D6272;
    font-family: simple-line-icons;
    font-size: 16px;
 }


