* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica-W01-Roman, Aria;
  font-size: 10px;
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: auto;
  position: relative;
}

