.footer {
  background: #343F64;
}

.footer .container {
  width: 980px;
}

.footer-box {
  display: flex;
  color: #959CB2;
  padding: 50px 0 65px;
  font-size: 14px;
  font-weight: 400;
}

.footer-item {
  flex: 1 1 100%;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-box .footer-item:not(:last-child) > p::after {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 1px;
  background: #959CB2;
  top: 0;
  right: 0;
}

.footer-item .top {
  color: #fff;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
}

.footer-item p {
  line-height: 22.4px;
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-item .top,
.footer-item p {
  padding: 0 20px;
}

.footer-box .social-net {
  display: flex;
  justify-content: center;
  margin: auto;
}

.footer-box .social-net-item:not(:last-child) {
  margin-right: 5px;
}

.footer-box .social-net .icon-svg {
  width: 22px;
  height: 22px;
  filter:
    invert(97%) sepia(3%) saturate(0%)
    hue-rotate(209deg) brightness(102%) contrast(102%);
}

@media screen and (max-width: 980px) {
  .footer .container {
    max-width: 320px
  }

  .footer-box {
    flex-direction: column;
    padding: 30px 0;
  }

  .footer-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .footer-box .footer-item:not(:last-child) > p::after {
    top: initial;
    left: initial;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 33%;
  }
}
